{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue dans ce blog</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum temporibus necessitatibus modi eos facere fugit voluptas, dolorum excepturi pariatur maxime omnis vero quo quis fuga laudantium perspiciatis voluptatum beatae odit! Natus, nesciunt quasi. Voluptatem, odio vero aliquid omnis atque ad!</p>
<p>Sed voluptatum modi alias natus perspiciatis saepe dolores ipsum quia quaerat qui ad mollitia officia maxime nobis commodi a aliquid dolor iste aut ratione ea, magni necessitatibus. Pariatur exercitationem porro quam, maiores repellendus amet, delectus expedita et optio, necessitatibus officiis.</p>

{% endblock %}